//colors
$color-red-pink: #FD8A8A;
$color-yellow: #F1F7B5;
$color-teal: #A8D1D1;
$color-teal-light:#a8d1d1b1;
$color-blue-violet:#9EA1D4;
$color-blue-violet-light:#8a8fe2d6;
$color-white: #FFFF;

//size-breakpoints
$breakpoint-none:1rem; //<576px
$breakpoint-sm:1.2rem; //≥576px
$breakpoint-md:1.4rem; //≥768px
$breakpoint-lg: 1.6rem; //≥992px
$breakpoint-xl:1.8rem; //≥1200px
$breakpoint-xxl:2rem; //≥1400px


//size-icons	
$icon-none:9rem; //<576px
$icon-sm:9.5rem; //≥576px
$icon-md:10rem; //≥768px
$icon-lg:10.5rem; //≥992px
$icon-xl:11rem; //≥1200px
$icon-xxl:11.5rem; //≥1400px

	
