body{
    background-color: $color-yellow;
    header{
        background-color: $color-red-pink;
        a{
            color: $color-white !important;
        }
    }



    footer{
        background-color: $color-red-pink;
    }
}