*{
    margin   : 0;
    padding  : 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &>*{
        flex: 0 0 auto;
    }
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none !important;
    color:black;
    &:link{
        text-decoration: none !important;
    }
    &:hover{
        text-decoration: none !important;
    }

}
button{
    padding: 8px;
}
