button {
  &#cleanGrocery, &#cleanChores, &#cleanAll{
    border: none;
    background: $color-yellow;
    color: $color-sw-black;
    cursor: pointer;
    transition: $color-red-pink 0.2s ease-out;

    &:hover {
      background: $color-sw-black;
      border:2px solid $color-sw-red;
      color: $color-red-pink;
    }
  }
  &.button-grocery {
    border: none;
    background: $color-red-pink;
    color: $color-white;
    cursor: pointer;
    transition: $color-red-pink 0.2s ease-out;

    &:hover {
      background: $color-teal;
      color: $color-red-pink;
    }
  }
  &.btn-delete-grocery {
    border: none;
    background: none;
    cursor: pointer;
    color: $color-white;
    font-size: $breakpoint-lg;
  }
  &#limpiar-local{
    border: none;
    background-color: $color-red-pink;
    color: $color-white;
    font-size: $breakpoint-lg;
  }
}
section {
  form {
    // max-width: 320px;
    // left: calc(50% - 160px);
    &#loginForm {
      input#login-button {
        border: none;
        background-color: $color-blue-violet;
        color: $color-white;
        cursor: pointer;
        font-size: $breakpoint-lg;
      }
    }
    // &#otroForm{
    //     // background-color: black;
    // }
  }
  div{
    &#itemListChores{
      article{
        div{
          input{
            border:none;
            border-radius: 0px;
            color: $color-white;
            cursor: pointer;
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }
}

