button{
    &.button-grocery{
        border:none;
        background:$color-red-pink;
        color:$color-white;
        cursor:pointer;
        transition:$color-red-pink .2s ease-out;

        &:hover {
            background:$color-teal;
            color: $color-red-pink;
        }
    }
    &.btn-delete-grocery{
        border:none;
        background:none;
        cursor:pointer;
        color:$color-white;
        font-size: $breakpoint-lg;
    }
//TODO mofidificar el span con la imangen del boton nav para mobile - no puedo darle estilos. 
        // &.navbar-toggler{
        //     border-radius: 0%;
        //     border: 1px solid $color-yellow;
        //     &.navbar-toggler-icon{
        //         color: $color-yellow;
        //     }
        // }

}
