main {
  section {
    &.personalInfo{
      background:$color-teal ;
      color: #fff;
      box-shadow: -10px -10px 0px 0px $color-blue-violet;
      min-height: 150px;
    }
    &.grocerylist {
      max-width: 500px;
      min-width: 35%;
      background: $color-blue-violet;
      color: #fff;
      box-shadow: -10px -10px 0px 0px $color-teal;
      #itemList {
        article {
          //background:$color-teal-light;
          background: $color-blue-violet-light;
        }
      }
      & > div:last-of-type {
        background-color: $color-teal;
        color: #000;
        border: $color-blue-violet 2px solid;
      }
    }

    &.choreslist{
      max-width: 500px;
      min-width: 50%;
      background: $color-blue-violet;
      color: #fff;
      box-shadow: -10px -10px 0px 0px $color-teal;
      #itemListChores {
        article {
          //background:$color-teal-light;
          background: $color-blue-violet-light;
        }
      }
    }

    &.swlist{
      background: $color-sw-black;
      color: $color-white;
      box-shadow: -10px -10px 0px 0px $color-sw-grey;
      border: $color-sw-red 2px solid;
      table{
        th{
          color: $color-white;
        }
      }
    }

    #groceryForm, #choresForm {
      input {
        flex-grow: 1;
        border: none;
        background: #f7f1f1;
        padding: 0 1.5em;
        font-size: initial;
      }
    }

    #loginForm {
      input {
        &.login-form-filds {
          flex-grow: 1;
          border: $color-blue-violet-light;
          background: #f7f1f1;
          padding: 0 1.5em;
          font-size: initial;
        }
      }
    }

    div{
      div{
        &#loading{
        color: $color-sw-red;
        }
      }
    }


  }
}
