img{
    &.icon-logo{
        max-height:$icon-sm; 
        max-width:$icon-sm; 
    }
}
table{
    tbody{
        tr{
            td{
                div{
                    &.input-group-text{
                        border-radius:0rem;
                        background-color:$color-sw-black;
                        border: 0px ;
                        input{
                            height: 18px;
                            width: 18px;
                        }
                    }
                }
            }
        }
    }
}
footer{
    div{
        a{
            i{
                font-size: $breakpoint-xl;
                color: $color-yellow;
            }
        }
    }
}